@page "/"
@rendermode InteractiveServer

<PageTitle>Anime Cards</PageTitle>
<div class="main-Title">
    Memory match
</div>
<div class="game-description">
    You have 10 attempts to match all the cards.
</div>
<ProgressBar NumberOfFailedAttempts="NumberOfFailedAttempts"/>
@*     <TimerComponent /> *@
@if (NumberOfFailedAttempts == 100)
{
    <p>You LOSE</p>
}
else
{
    <TableComponent @bind-NumberOfFailedAttempts="NumberOfFailedAttempts" />
}


@code {
    public int NumberOfFailedAttempts = 0;
}

