@inject IAnimeCardService AnimeCardService


@if (Cards is not null)
{
    @if (NumberOfMatches != 6)
    {
        <div class="game-container">
            @foreach (AnimeCardDTO card in Cards)
            {
                <CardComponent Card="card" OnCardFlipped="HandleCardFlipped" MatchingInProgress="matchingInProgress" />
            }
        </div>
    }
    else
    {
        <p>@Message</p>
    }
}
else
{
    <p>Loading...</p>
}




@code {
    [Parameter]
    public int NumberOfFailedAttempts { get; set; }

    [Parameter]
    public EventCallback<int> NumberOfFailedAttemptsChanged { get; set; }

    List<AnimeCardDTO> Cards;

    private bool matchingInProgress = false; // Flag to track if matching is in progress

    private int NumberOfMatches;

    List<AnimeCardDTO> cardsToMatch = new List<AnimeCardDTO>(); // Track flipped cards

    string Message = "Game Over, you won!";

    protected override async Task OnInitializedAsync()
    {
        Cards = await AnimeCardService.GetCardsAsync();
        Shuffle(Cards);
    }


    private void HandleCardFlipped(AnimeCardDTO card)
    {
        if (matchingInProgress)
        {
            return;
        }

        if (!card.HasMatched)
        {
            UpdateCardsToMatchList(card);

            if (cardsToMatch.Count == 2)
            {
                MatchCards();
            }
        }
    }

    static void Shuffle<T>(List<T> list)
    {
        Random rng = new Random();
        int n = list.Count;
        while (n > 1)
        {
            n--;
            int k = rng.Next(n + 1);
            T value = list[k];
            list[k] = list[n];
            list[n] = value;
        }
    }

    void UpdateCardsToMatchList(AnimeCardDTO card)
    {

        if (card.IsFlipped)
        {
            if (!cardsToMatch.Contains(card))
            {
                cardsToMatch.Add(card);
            }

        }
        else
        {
            if (cardsToMatch.Contains(card))
            {
                cardsToMatch.Remove(card);
            }
        }
    }

    void MatchCards()
    {
        matchingInProgress = true;

        if (cardsToMatch[0].Anime == cardsToMatch[1].Anime)
        {
            foreach (AnimeCardDTO card in cardsToMatch)
            {
                AnimeCardDTO cardToUpdate = Cards.Find(c => c.Id == card.Id);
                if (cardToUpdate != null)
                {
                    cardToUpdate.HasMatched = true;
                }
            }

            NumberOfMatches++;
            cardsToMatch.Clear();
            matchingInProgress = false;
            InvokeAsync(() => StateHasChanged());
        }
        else
        {
            Timer resetTimer = new Timer(_ =>
            {
                // Reset flipped state for unmatched cards
                foreach (AnimeCardDTO card in cardsToMatch)
                {
                    AnimeCardDTO cardToUpdate = Cards.Find(c => c.Id == card.Id);
                    if (cardToUpdate != null)
                    {
                        cardToUpdate.IsFlipped = false;
                    }
                }

                cardsToMatch.Clear();
                matchingInProgress = false;
                NumberOfFailedAttempts += 10;
                InvokeAsync(() =>
                {
                    NumberOfFailedAttemptsChanged.InvokeAsync(NumberOfFailedAttempts);
                    StateHasChanged();
                });
            }, null, 500, Timeout.Infinite);
        }
    }
}
